{
    "listen_addr": "127.0.0.1:8081",
    "login": "admin",
    "password": "root",
    "work_dir": "/root/terminal",
    "terminal_dir": "/root",
    "fail2ban_log": "/var/log/webterminal-bruteforce.log",
    "max_attempts": 6,
    "ban_duration": 15,
    "read_timeout": 30,
    "write_timeout": 30,
    "idle_timeout": 120
}
